@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h3>Are you sure you want to permanently delete @Model.Name from the factory directory?</h3>
<br/>
@using(Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger">
}
<br/>
<h3>@Html.ActionLink($"Return to {Model.Name}'s info page", "Details", new { id = Model.EngineerId})</h3>