@{
  Layout = "_Layout";
}

<div class="row pt-5">
  <div class="container col-6">
    <h2>@Html.ActionLink("+ new Engineer", "Create", "Engineers")</h2>
  </div>
  <div class="container col-6">
    <h2>@Html.ActionLink("+ new Machine", "Create", "Machines")</h2>
  </div>
</div>