@{
  Layout = "_Layout";
}

<div class="row pt-5">
  <div class="container col-6">
    <h3>@Html.ActionLink("+ new Engineer", "Create", "Engineers")</h3>
  </div>
  <div class="container col-6">
    <h3>@Html.ActionLink("+ new Machine", "Create", "Machines")</h3>
  </div>
</div>